@import '@/assets/scss/_variables.scss';
#project{
    width: 100%;
    background-color: #303030;
    padding: 80px;
    font-family: $mainfont;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:961px){
        padding: 50px 0px 50px 0px;
    }
    .container{
        width: $globalwidth;
        @media (max-width:961px){
            width: 100%;
        }
        .ftitle{
            font-size: $titlesize;
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }
    }
}